@import "tailwindcss";

@custom-variant dark (&:where(.dark, .dark *));

button {
  cursor: pointer;
}
button:disabled {
  cursor: not-allowed;
  opacity: 50%;
}
:root {
  --background: hsl(231.43, 15.56%, 91.18%);
  --theme: hsl(217.11, 55.88%, 20.67%);
  --title: oklch(27.8% 0.033 256.848);
  --card-background: hsl(0, 0%, 98.43%);
  --card-border: hsl(228, 4.42%, 70.16%);
}

.dark {
  --background: hsl(228, 7.25%, 13.53%);
  --theme: #10172a;
  --title: oklch(73.8% 0.033 256.848);
  --card-background: hsl(210, 7.89%, 14.9%);
  --card-border: hsl(228, 4.42%, 22.16%);
}

@theme inline {
  --color-background: var(--background);
  --color-theme: var(--theme);
  --color-title: var(--title);
  --color-card-border: var(--card-border);
  --color-card-background: var(--card-background);
  --shadow-input: 0px 2px 3px -1px rgba(0, 0, 0, 0.1),
    0px 1px 0px 0px rgba(25, 28, 33, 0.02),
    0px 0px 0px 1px rgba(25, 28, 33, 0.08);
}
